                body{
                    background: url('hazy_background_tile.png');
                    background-color: gray;
                }
                .item-centre{
                    text-align: center;
                }
                .box-shadow{
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
                background-color: white;
                margin: 3em;
                }
                .item-box{
                    margin: 100px;
                    padding: 100px, 10%, 100px, 10%;
                }
                .form-control{
                    text-align: center;
                }
                .item-input{
                    padding:8px;
                    display:block;
                    border:none;
                    border-bottom:1px solid #808080;
                    width:100%
                    }
                .fme{
                    padding: 5em;
                }
                nav{
                    margin: auto;
                    width: 100%;
                }
                
                nav ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    background-color: #333;
     
                }
                
                nav li {
                    float: left;
                }
                
                nav li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
                
                nav li a:hover:not(.active) {
                    background-color: #111;                
                }
                
                footer a, footer a:visited{
                    color: #08080A;
                }
                footer a:hover{
                    color: #050847;
                }
                section{
                    height: 500px;
                    padding: 10px;
                }
                form{
                    display: block;
                    
                    margin: auto;
                }
                inpot{
                    border-radius:40px;
                    width:80%;
                    height: 40px;
                }
                img.icons{
                    height: 16px;
                    width: 16px;
                }
                table{
				border: 0;
				margin-left:auto;
				margin-right: auto;
                text-align : center;
                }
				button{
					border: 0.6em;
					border-color: #3F3C3C;
					background-color: inherit;
					padding: 0.5em;
					display: inline-block;
					margin: 10px;
				}
				button:hover{
					background-color: #DDC7C7;
				}
                